<div class="tf-panel-head">
  <button class="btn btn-primary btn-block" id="btn-new-project"><svg class="tf-icon tf-icon--sm" aria-hidden="true"><use href="/static/icons.svg#icon-plus"/></svg> 新建项目</button>
</div>
{% include "partials/project_list.html" %}
<button class="btn btn-ghost btn-block" id="btn-delete-project" style="color: var(--tf-danger); border-color: var(--tf-border);"><svg class="tf-icon tf-icon--sm" aria-hidden="true"><use href="/static/icons.svg#icon-trash"/></svg> 删除项目</button>
